################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs

log.html
report.html
output.xml

__pycache__/
*.pyc